* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 85px;
  background-color: rgb(18, 18, 62);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: rgb(153, 153, 226);
  font-size: 1.03rem;
}

main hr {
  border: 0;
  background-color: #9c97f1;
  height: 1.2px;
  margin: 10px 84px;
}

.left {
  font-size: 1.5rem;
}

.firstsection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 80px 0;
}

.firstsection>div {
  width: 32%;
}

.leftsection {
  font-size: 2rem;
  margin: 70px 0;
}

.leftsection .buttons {
  padding: 50px 0;
}

.leftsection .btn {
  padding: 6px;
  background: #1e2167;
  color: white;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
}

.rightsection img {
  width: 55%;
}

.purple {
  color: rgb(170, 107, 228);
}

.text-gray {
  color: gray;
}

#element {
  color: rgb(170, 107, 228);
}

footer {
  background-color: #0e0e1a;
}

.footer {
  display: flex;
  padding: 23px 122px;
  justify-content: space-evenly;
}

.footer ul {
  list-style: none;
}

.footer>div {
  width: 223px;
}

footer .footer-rights {
  text-align: center;
  color: gray;
  padding: 12px 0;
}

.typed-cursor {
  opacity: 1;
}

.typed-cursor.typed-cursor--blink {
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite;
}

@keyframes typedjsBlink {
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes typedjsBlink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1100px) {
  body {
    background-color: red;
  }

  .box {
    flex-direction: column;
  }

  .secondSection .vertical {
    height: unset;
    margin: 6vw;
  }
  .vertical-title, .vertial-desc{
    left: 45px;
  }
  .secondSection  .box{
    width: 50vw;
  }
  nav{
    flex-direction: column;
  }



  .firstsection {
    flex-direction: column-reverse;
  }
  .leftsection{
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rightsection{
    width: 72% !important;
    display: flex;
    justify-content: center;
  }
  .rightsection img{
    width: 45vw;
    margin-bottom: 73px;
  }
  .secondSection{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body{
    min-width: fit-content;
  }

}